*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: #dddddd;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
}
li{
    list-style: none;
}
header{
    width: 100%;
    background: #444444;
    display: flex;
}
.header__logo{
    cursor: pointer;
    margin-top: 15px;
    margin-left: 12%;
}
nav{
    margin-top: 15px;
    margin-left: 25%;
    display:flex;
    align-items:center;
}
.topnav a{
    color: #DDDDDD;
    padding: 12px 16px;
    font-size: 20px;
    font-weight: bold; 
}
.topnav a:hover {
    background: #fff;
    color: #444444;
    border-radius: 3px;
}
@media screen and (max-width: 500px) {
    header a {
      float: none;
      display: block;
      text-align: left;
    }
    nav {
      float: none;
    }
}
.home__animals {
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 10%;
    margin-bottom: 3%;
}
.all__wild__animals ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.all__home__animals li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.all__home__animals li {
    display: inline-block;
    width: 500px;
    position: relative;
}
.all__home__animals img {
    max-width: 100%;
    display: block;
}
@media screen and (max-width: 500px) {
    .home__animals{
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
    width: 40%;
    height: 40%;
    }

}
.descr {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 25px;
    padding-top: 0px;
    text-align: center;
    opacity: 0;
    transform: rotateY(90deg);
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.all__home__animals li:hover .descr{
    opacity: 1;
    transform: rotateY(0deg);
}
footer{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #444444;
    border-top: 2px solid silver;
    margin-top: 10px;
    color: #DDDDDD;;
}